/* Css Style Area  */
body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  background: #1d1d23;
}
.container {
  display: flex;
  width: 92%;
  margin: 30px auto;
  margin-bottom: 200px;
}
/*----------------------
    Navbar Area style
------------------------ */
.navbar-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar a {
  margin-right: 10px;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  padding: 2px 10px;
  font-weight: 500;
}
.logo {
  flex: 1;
}
.logo a {
  font-size: 24px;
  text-decoration: none;
  color: #e58f00;
  font-weight: 500;
}
.fas {
  font-size: 25px;
  color: #e58f00;
}
.active {
  color: #e58f00 !important;
}
.navbar a:hover {
  color: #e58f00;
  border: 1px solid #e58f00;
  border-radius: 5px;
}
/* --------------------------
    Top Banner Area style
------------------------------ */
.haif {
  width: 100%;
  margin: 0 auto;
}
.haif img {
  width: 80%;
  margin-left: 40px;
  margin-top: 15px;
  border-radius: 30px;
}
.haif h1 {
  font-size: 50px;
  color: #e58f00;
  letter-spacing: 1px;
}
.haif p {
  font-size: 17px;
  width: 80%;
  color: #fff;
  text-align: justify;
  font-weight: 400;
  margin-bottom: 40px;
}
.orange {
  padding: 10px 30px;
  color: rgb(15, 15, 15);
  background: #e58f00;
  border-radius: 5px;
  font-size: 19px;
  text-decoration: none;
  font-weight: 500;
}

/*------------------------
    Service Area Strat
---------------------------*/
.area h1 {
  text-align: center;
  font-size: 50px;
  color: #fff;
  margin-bottom: 100px;
  margin-top: 200px;
}
.row {
  width: 90%;
  margin: 0 auto;
  display: flex;
}
.row img {
  width: 50%;
  margin-left: 90px;
}
.card {
  box-shadow: 10px 10px 30px #30303a;
  margin-right: 30px;
  background: #35353b;
  border-radius: 30px;
  height: 400px;
  margin-left: 15px;
}
.card h2 {
  font-size: 30px;
  color: #e58f00;
  text-align: center;
  letter-spacing: 2px;
}
.card p {
  font-size: 15px;
  width: 90%;
  margin: 0 auto;
  color: #fff;
  text-align: justify;
}
span {
  color: #e58f00;
}

/*--------------------- 
   Gallery Area Star  
------------------------*/
.gallery {
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 20px;
}
.card-1 {
  border-radius: 30px;
}
.gallery img {
  width: 90%;
  margin-left: 15px;
  border-radius: 10px;
}

/*------------------------
    Menu Section style
------------------------- */

.area h3 {
  font-size: 28px;
  margin-left: 19px;
  color: #e58f00;
}
.area p {
  width: 90%;
  font-size: 18px;
  text-align: justify;
  margin-left: 19px;
  color: #fff;
}

/*------------------------
    Extra Card Section 
------------------------- */
.background {
  background-image: url(img/meal/background.png);
  background-size: cover;
  margin-top: 200px;
}
.haif h2 {
  font-size: 50px;
  margin-top: 50px;
  color: #fff;
}

/*----------------------
    footer Area style 
----------------------- */
footer {
  background: #0a091ac9;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foot-img img {
  width: 50%;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.foot-img p {
  text-align: center;
  color: #fff;
  margin: 5px 0;
}
.fab {
  display: flex;
  font-size: 35px;
  text-align: center;
  margin-right: 35px;
  color: #fff;
}
.icon {
  margin-top: 10px;
  margin-bottom: 30px;
}

.icon p {
  text-align: center;
  color: #fff;
  margin: 25px 0;
}

@media only screen and (max-width: 688px) {
  .container {
    flex-direction: column;
    margin: 0 auto;
  }
  .navbar-area {
    flex-direction: column;
  }
  .navbar {
    margin-top: 40px;
  }
  .haif img {
    width: 90%;
    margin-left: 15px;
  }
  .haif {
    width: 100%;
    margin: 30px auto;
  }
  .row {
    flex-direction: column;
  }
  .card {
    margin-bottom: 25px;
  }
  .gallery {
    flex-direction: column;
  }
  .card-1 {
    margin-bottom: 20px;
  }
  .fotter-section {
    display: flex;
    flex-direction: column;
  }
}
